services:

  prometheus:
    container_name: strelnikovam-netology-prometheus
    image: prom/prometheus:v2.36.2
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    links:
      - pushgateway:pushgateway
    depends_on:
      - pushgateway
    networks:
      - strelnikovam-my-netology-hw
    restart: always

  pushgateway:
    container_name: strelnikovam-netology-pushgateway
    image: prom/pushgateway
    restart: always
    expose:
      - 9091
    ports:
      - "9091:9091"
    networks:
      - strelnikovam-my-netology-hw

  grafana:
    container_name: strelnikovam-netology-grafana
    image: grafana/grafana
    depends_on:
      - prometheus
    ports:
      - 80:3000
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    networks:
      - strelnikovam-my-netology-hw
    restart: always

volumes:
    prometheus_data: {}
    grafana_data: {}

networks:
  strelnikovam-my-netology-hw:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16